* 
{
    padding:0px;
    margin:0px;    
}

body
{
    background-color:#ccc;
}

ul {
    list-style:none;
}

ul li
{
    width:180px;
    text-align:center;
    background-color:#cc9;
    margin: 5px;
    padding: 3px 0 0 10px;
    border-bottom: 3px solid black;
    border-left: 10px solid #c33;
}